/*RESET*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*...*/

/*FONTS*/
@font-face {
  src: url("../fonts/PTSerif-Bold.ttf");
  font-family: "PT-Serif-Bold";
}
@font-face {
  src: url("../fonts/PTSerif-Regular.ttf");
  font-family: "PT-Serif-Regular";
}
@font-face {
  src: url("../fonts/Poppins-Regular.ttf");
  font-family: "Poppins-Regular";
}
/*...*/

/*Base Styles*/

/*header*/
header {
  font-family: "PT-Serif-Bold";
  height: auto;
  margin: 0 0.5rem;
  max-width: 800px;
}
.header-title {
  font-weight: 500;
  padding-top: 3rem;
}
.header-div {
  font-family: "Poppins-Regular";
  margin-top: 2rem;
  width: clamp(300px, 50%, 500px);
}
.header-description {
  margin-top: 0.5rem;
  font-size: 13px;
}
@media screen and (min-width: 400px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-div {
    text-align: center;
  }
  .header-description {
    font-size: 15px;
  }
}
@media screen and (min-width: 800px) {
  header {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 auto;
  }
  .header-title {
    transform: translateY(20%);
    padding-left: 2rem;
  }
  .header-div {
    text-align: left;
  }
}
/*...*/

/*main*/
main {
  margin: 4rem 0.7rem 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  max-width: 950px;
}

@media screen and (min-width: 950px) {
  main {
    margin: 5rem auto 8rem auto;
    grid-template-columns: repeat(3, 1fr);
  }
  .two,
  .four,
  .six {
    transform: translateY(30%);
  }
  .five {
    transform: translateY(45%);
  }
}
img {
  width: 100%;
}
.profile-details {
  display: grid;
  grid-template-columns: 90% 10%;
}

.profile-card {
  margin-bottom: 3.5rem;
}

.two,
.four,
.six {
  transform: translateY(20%);
}
.profile-job {
  font-size: 7pt;
  letter-spacing: 2px;
  font-weight: lighter;
  font-family: "PT-Serif-Regular";
  writing-mode: vertical-lr;
  padding-left: 0.1rem;
}
.profile-name {
  font-family: "Poppins-Regular";
  font-size: 10pt;
  padding: 0.5rem 0 0 0;
}
@media screen and (min-width: 500px) {
  .profile-job {
    font-size: 10pt;
  }
  .profile-name {
    font-size: 13pt;
  }
}

/*...*/

/*footer*/
footer {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 4rem;
  margin-top: 3rem;
  u {
    font-weight: bolder;
  }
}
.footer-div {
  font-family: "Poppins-Regular";
  color: grey;
  font-size: 10pt;
  padding: 1rem 0;
}
@media screen and (min-width: 600px) {
  footer {
    height: 7rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 800px) {
  footer {
    height: 10rem;
  }
  .footer-div {
    font-size: 13pt;
  }
}
/*...*/

/*...*/
